<app-navbar></app-navbar>

@if (charactersResponse != null) {
    <div class="container d-flex align-content-around flex-wrap">

        @for (item of charactersResponse.data.results; track item.id) {
    
            <div class="card p-2 m-2" style="width: 18rem;" (click)="openDialog(item.id)">
                <img class="card-img-top" src="{{item.thumbnail.path+ '.' + item.thumbnail.extension}}" alt="Card cap">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        } @empty {
        <li>There are no items.</li>
        }
    
    </div>
}
